* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 0 auto;
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 30%;
  opacity: 0.6;
  display: block;
}
.container span {
  font-size: 12px;
}

.container a {
  color: #ccc;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #1c5e20;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 30px;
}
.container button img {
  width: 7%;
  height: 4%;
  right: 78%;
  margin-top: -1%;
  opacity: 2.9;
}

.container h1 img {
  width: 8%;
  height: 7%;
  right: 8%;
  margin-top: -18%;
  opacity: 2.9;
}

.container form {
  background-color: #ffffff;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.4px;
  height: 100%;
}

.container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 80%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  right: 10%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  right: 0;
  width: 50%;
  z-index: 2;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  color: #388d3c;
}

.toggle img {
  width: 9%;
  height: 12%;
  right: 87%;
  margin-top: 27%;
  opacity: 2.9;
}
