#root{
    width: 100%;
}

li {
    list-style-type: none;
    text-decoration: none;
}

img {
    width: 2.5rem;
    height: 2.5rem;
}

.background {
    background-color: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.wadah_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.subisi {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.subisi li a {
    color: #1d1d1d;
    font-weight: 400;
}

.LogTer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.adacevron {
    display: flex;
    align-items: center;
}

.ChevronDown {
    width: 1.3rem;
}